body {
    background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1) !important;
    background-size: 300% 300% !important;
    -webkit-animation: Background 25s ease infinite !important;
    -moz-animation: Background 25s ease infinite !important;
    animation: Background 25s ease infinite !important;
}

@-webkit-keyframes Background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#main-grid {
    height: 100%;
    width: 100%;
}

.logo {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -120px;
    opacity: 0.5;
}

.home-btn {
    position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    margin: 5px !important;
    z-index: 999999;
}

