.main-content {
    margin: -20px 20px 0 5px !important;
}

a.black-link {
    color: #000000 !important;
    text-decoration: none;
    font-weight: 600;

    border-bottom: 2px solid rgba(192, 192, 192, 0);
    /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/

    -webkit-transition: border 300ms ease;
    -moz-transition: border 300ms ease;
    -o-transition: border 300ms ease;
    transition: border 300ms ease;
}

div.ui.raised.segment.comment {
    background: white !important;
    padding: 2px !important;
    width: 100% !important;
}

a.black-link:hover {
    border-bottom: 2px solid rgba(192, 192, 192, 1);
}

#score-btn {
    filter: brightness(100%);
    transition: filter 600ms ease;
}

#score-btn:hover {
    filter: brightness(150%);
}

iframe#comments {
    border: 0;
    width: 5000px;
}

body {
    background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1) !important;
    background-size: 500% 500% !important;
    -webkit-animation: Background 20s ease infinite !important;
    -moz-animation: Background 20s ease infinite !important;
    animation: Background 20s ease infinite !important;
}

@-webkit-keyframes Background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.toppest {
    z-index: 2147483647 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}